<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.droibit.firebase_todo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TodoApplication"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.TodoApp"
        tools:ignore="MissingApplicationIcon">
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustUnspecified"
            android:exported="false" />

    </application>

</manifest>